#productCard , #product{
    background: #36393f;
    opacity: 1;
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-color: black;
    border:5px;
    margin-right: 20px;
    margin-bottom: 40px;
}



.numPag{
    color: black;
    font-weight: 400;
}

#formContainer{
    display: flex;
    align-items: top;

}

#addContainer{
    margin-right: 50px;
}

#realTimeProductsContainer{
    margin-left: 50px;
}

#productsList , #products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

body{
    font-family: "roboto flex";
}

.header{
    margin-top: 20px;
}

.cartButton{
    margin-right: 30px;
    height: 30px;
}

.titleProducts{
    margin-left: 30px;
}

.title{
    margin-top: 15px;
}

h2, p{
    font-size: 14px;
    color: white;
}

p{
    /* font-size: 22px; */
    color: white;
}


.secondaryDiv, .cont{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 5px;

}

.button{
    margin-bottom: 15px;
}

.form{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.titleRealTimeProds{
    margin-bottom: 30px;
}

input{
    margin:0px 0px 20px 0px
}